# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
.venv
venv/
*.egg-info/
dist/
build/

# Node
node_modules/
dist/
build/

# Mac
.DS_Store

# VS Code
.vscode/

# Logs
*.log

# Database
*.sqlite3

# Environment variables
.env
.env.local
.env.production